input.ng-invalid.ng-touched{
    border: 1px solid red;
}
span{
    color: red;
}
h1{
    text-align: center;
    color: blue;
}
.navbar-default{
    background: palevioletred;
}
.container{
    background: url("https://i.pinimg.com/originals/77/28/93/772893b05282ae98ea8c6604f0e1e540.jpg");
}