

    <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1>INTERNSHIP</h1>
            <div class="nav navbar-nav navbar-right">
              <button class="btn btn-primary" (click)="onlogin()">Login</button>
              <!--p>If you alredy rigistered press signup button to enter</p>-->
              <button class="btn btn-primary" (click)="onsignup()">signup</button>
            </div>
            </div>
           
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <p> For Registration press login</p> <p>If you alredy Registered press sign to signup</p>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <!--button class="btn btn-primary" (click)="onlogin()">Login</button>
        <br><br>
        <p>If you alredy rigistered press signup button to enter</p>
        <button class="btn btn-primary" (click)="onsignup()">signup</button>-->
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--app-form></app-form>-->
                <router-outlet></router-outlet>
              </div>
              </div>


